/* Principales couleurs */

*{
    --WhitePearl : #f8f6f0;
    --Mint : #cce8cc;
    --AquaMarine : #66cc99;
    --Zomp : #339999;
    --Licorice : #1d050e;
    --BlueGreen : #96c8c5;
    --MyGray : #544147;
    --Thin : Aileron-Thin;
    --Light: Aileron-Light;
    --Regular: Aileron;
    --Heavy : Aileron-Heavy;
}