/* Page d'accueil */

.home-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--Zomp);
    height: 100vh;

    h1{
        color: var(--WhitePearl);
    }

    .home-cloud{
        position: absolute;
        bottom: -10rem;
    }
}