// Fichiers css
@use 'styles/colors';
@use 'styles/mixins';
@use 'styles/mainMenu';
@use 'styles/animations';
@use 'styles/cloud';
@use 'styles/home';
@use 'styles/contact';
@use 'styles/menuWP';
@use 'styles/menuPortfolio';
@use 'styles/carousel';
@use 'styles/dsection';

@import "styles/mixins";


//Placer tous les medias queries par défaut ici (texte, contener)

.App {
  text-align: center;
}

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  margin: 0 10rem 0 10rem;
  @include sm{
    margin: 0 5rem 0 5rem;
  }

  @include xs{
    margin: 0 1rem 0 1rem;
  }
}

h1{
  font-size: 5rem;
  @include sm{
    font-size: 4rem;
  }

  @include xs{
    font-size: 2.5rem;
  }
}

h1,h2{
  color: var(--Licorice);
  text-transform: capitalize;
}

.loading-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    transition: all .5s ease-in-out;
    width: 25rem;
    animation: float2 10s ease-in-out infinite;
  }
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--Licorice);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--WhitePearl);
}

.App-link {
  color: var(--Zomp);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/