// Fichiers css

@use 'styles/_colors';
@use 'styles/mediaQueries';
@use 'styles/mainMenu';
@use 'styles/animations';
@use 'styles/cloud';
@use 'styles/home';

//Placer tous les medias queries par défaut ici (texte, contener)

.App {
  text-align: center;
}

.container{
  margin: 0 10rem;
}

h1{
  font-size: 5rem;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--Licorice);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--WhitePearl);
}

.App-link {
  color: var(--Zomp);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/